<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>jyc_test</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script>
    ! function (n) {
      var e = n.document,
        t = e.documentElement,
        i = 720,
        d = i / 100,
        o = "orientationchange" in n ? "orientationchange" : "resize",
        a = function () {
          var n = t.clientWidth || 320;
          n > 720 && (n = 720), t.style.fontSize = n / d + "px";
        };
      e.addEventListener && (n.addEventListener(o, a, !1), e.addEventListener("DOMContentLoaded", a, !1))
    }(window);
  </script>
</head>

<body>
  <div id="root"></div>
</body>

</html>